<div class="preview-view">
  {{#if isMock}}
    <div class="mock-label">MOCK</div>
  {{/if}}
  <div class="expander">E</div>
</div>
{{#if showEdit}}
<div class="selector-area">
    <b>Saved:</b> <select class="saved-patterns">
      <optgroup label="Party Worthy">
        {{#each partyWorthySavedPatterns}}
          <option value="{{attributes.saveName}}">{{attributes.saveName}}</option>
        {{/each}}
      </optgroup>
      <optgroup label="Non Party Worthy">
        {{#each nonPartyWorthySavedPatterns}}
          <option value="{{attributes.saveName}}">{{attributes.saveName}}</option>
        {{/each}}
      </optgroup>
    </select>
    <b>Builders:</b> <select class="class-patterns">
      {{#each patterns}}
      <option value="{{attributes.name}}">{{attributes.name}}</option>
      {{/each}}
    </select>
    <div class="params">
      {{#each parameters}}
        <div class="param">
          <span>{{name}}: </span>
          {{#if type}}
            <input class="param-input" type="{{type}}" value="{{val}}" name="{{name}}" {{#if val}}checked="checked"{{/if}}></input>
          {{else}}
            {{#if pattern}}
            <select class="param-input" name="{{name}}" data-type="pattern">
              {{#each ../../../savedPatterns}}
              <option value="{{attributes.saveName}}">{{attributes.saveName}}</option>
              {{/each}}
            </select>
            {{/if}}
            {{#if gif}}
            <select class="param-input" name="{{name}}" data-type="gif">
              {{#each ../../../gifList}}
              <option value="{{attributes.name}}">{{attributes.name}}</option>
              {{/each}}
            </select>
            {{/if}}
            {{#if image}}
            <select class="param-input" name="{{name}}" data-type="image">
              {{#each ../../../imageList}}
              <option value="{{attributes.name}}">{{attributes.name}}</option>
              {{/each}}
            </select>
            {{/if}}
          {{/if}}
        </div>
      {{/each}}
    </div>
    <br>
    <span>Party Worthy</span><input type=checkbox class="party-worthy-input" {{#if partyWorthy}}checked="checked"{{/if}}></input>
    <br>
    <input type=text class="save-name-input"></input>
    <button class="save-button">Save Pattern</button>
</div>
{{/if}}
